/*// BASE STYLES //*/
body{
  background: lightblue;
  text-align: center;
}


.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

img{
  transform: rotateZ(-90deg) translate(200px) scale(2) ;
}

/*// ELEMENTS TO ANIMATE //*/



/*// KEYFRAMES //*/







